extends layout

block content
  div.card.my-3.text-dark
    div.card-header.my-2
      h4 #{picture.pictureTitle}
    div.animate__animated.animate__fadeInUp.text-center
      img(src= picture.pictureUrl, class="img-fluid" alt="画像")
    div.card-body
      h5 statement
      | #{picture.statement}
    div.card-footer
      p 作成者: #{picture.user.username}
      div.tweet-area
        script.
          !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
        a.twitter-share-button(href='https://twitter.com/share' data-hashtags='ewindow' data-url=`https://polar-earth-39625.herokuapp.com/${picture.pictureId}\n` data-text=`${picture.pictureTitle}\n`  data-lang='ja' data-count='none' data-size='large') Tweet Button

  if user 
    each user in users
      - var username = user.username || user.displayName; //認証サービスごとのユーザー名
      - var isDeletable = (username === picture.user.username || username === process.env.ADMIN)
      if isDeletable
        h3.text-danger 投稿の削除
        form(method="post", action=`/pictures/${picture.pictureId}?delete=1`)
          input(type="hidden" name="_csrf" value!=csrfToken)
          button(type="submit").btn.btn-danger.my-4 この投稿を削除する